* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --container-padding: 34px;
}

/* Global container */
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(156, 156, 156) transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5;
}

/* RESPONSIVE SPACING SYSTEM */

@media (max-width: 1024px) {
  :root {
    --container-padding: 20px;
  }
}

@media (max-width: 768px) {
  :root {
    --container-padding: 16px;
  }
}

@media (max-width: 480px) {
  :root {
    --container-padding: 12px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1680px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}